## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/
/dist/
/out-tsc/
/build/
/coverage/
packages/*/dist
packages/**/*.js
packages/**/*.d.ts
packages/**/*.map
packages/**/test/**.css
packages/**/package-lock.json

storybook-static

## Packages
packages/**/node_modules
packages/**/package-lock.json
packages/**/yarn.lock
packages/**/dist
packages/**/out-tsc
packages/**/coverage
packages/**/coverage-report
packages/**/storybook-static
packages/**/.idea
packages/**/.vscode
packages/**/.temp
packages/**/npm-debug.log
packages/**/custom-elements.json
